In [1]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
matplotlib.__version__

'3.7.2'

In [3]:
%matplotlib inline

In [4]:
#creating path
path = 'C:/Users/logan/Downloads/CareerFoundry/NBA Stats'

In [5]:
#loading data
df2 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Advanced2.csv'))

In [6]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'final nba stats set csv position fix.csv'))

In [7]:
df

,player_id,season,player,team_abbreviation,state,age,player_height,player_weight,college,country,...,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,mvp,position,experience,season_result
0,419,1997,A.C. Green,DAL,Texas,33,205.74,102.05820,Oregon State,United States of America,...,-8.0,0.100,0.207,0.119,0.523,0.045,False,PF,12,No postseason
1,667,1998,A.C. Green,DAL,Texas,34,205.74,102.05820,Oregon State,United States of America,...,-7.2,0.090,0.196,0.118,0.496,0.074,False,PF,13,No postseason
2,1006,1999,A.C. Green,DAL,Texas,35,205.74,102.05820,Oregon State,United States of America,...,-5.6,0.097,0.179,0.148,0.441,0.043,False,PF,14,No postseason
3,9331,2000,A.C. Green,LAL,California,36,205.74,102.05820,Oregon State,United States of America,...,8.1,0.089,0.179,0.111,0.482,0.058,False,PF,15,Champion
4,11196,2001,A.C. Green,MIA,Florida,37,205.74,102.05820,Oregon State,United States of America,...,3.3,0.089,0.171,0.141,0.492,0.050,False,PF,16,Playoffs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,2821,2003,Zydrunas Ilgauskas,CLE,Ohio,28,220.98,117.93392,NaN,Lithuania,...,-7.9,0.108,0.172,0.279,0.516,0.101,False,C,5,No postseason
12840,3068,2004,Zydrunas Ilgauskas,CLE,Ohio,29,220.98,117.93392,NaN,Lithuania,...,-3.7,0.122,0.163,0.229,0.541,0.074,False,C,6,No postseason
12841,3667,2005,Zydrunas Ilgauskas,CLE,Ohio,30,220.98,117.93392,NaN,Lithuania,...,2.5,0.136,0.170,0.243,0.550,0.065,False,C,7,No postseason
12842,11030,2020,Zylan Cheatham,NOP,Louisiana,24,195.58,99.79024,Arizona State,United States of America,...,-23.9,0.062,0.128,0.103,0.667,0.094,False,PF,1,No postseason
12843,11720,2022,Zylan Cheatham,UTA,Utah,26,195.58,99.79024,Arizona St.,United States of America,...,-106.8,0.000,0.000,0.250,0.000,0.000,False,SF,2,Playoffs

In [8]:
df2

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,team_abbreviation,...,tov_percent,usg_pct,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,20894,2007,3640,Šarūnas Jasikevičius,NaN,SG-PG,30,2,NBA,TOT,...,19.8,20.6,0.6,0.5,1.1,0.056,-0.5,-2.0,-2.5,-0.1
1,20895,2007,3640,Šarūnas Jasikevičius,NaN,SG,30,2,NBA,IND,...,19.1,20.8,0.6,0.4,1.0,0.072,0.0,-2.0,-2.0,0.0
2,20896,2007,3640,Šarūnas Jasikevičius,NaN,PG,30,2,NBA,GSW,...,21.3,20.1,0.0,0.2,0.2,0.023,-1.6,-2.0,-3.6,-0.1
3,20369,2006,3640,Šarūnas Jasikevičius,NaN,PG,29,1,NBA,IND,...,19.2,18.0,1.6,1.7,3.3,0.103,0.1,0.0,0.1,0.9
4,15567,1997,2540,Šarūnas Marčiulionis,NaN,SG,32,7,NBA,DEN,...,25.5,27.5,-0.6,0.1,-0.5,-0.085,-4.0,-0.8,-4.8,-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,17746,2001,3100,Zydrunas Ilgauskas,NaN,C,25,3,NBA,CLE,...,18.3,24.1,0.1,0.7,0.7,0.056,-1.4,-0.4,-1.8,0.0
16046,16713,1999,3100,Zydrunas Ilgauskas,NaN,C,23,2,NBA,CLE,...,11.4,22.6,0.3,0.2,0.5,0.134,0.8,-0.8,0.0,0.1
16047,16206,1998,3100,Zydrunas Ilgauskas,NaN,C,22,1,NBA,CLE,...,12.6,22.4,4.5,4.9,9.4,0.189,1.0,0.5,1.4,2.1
16048,30457,2022,4804,Zylan Cheatham,NaN,SF,26,2,NBA,UTA,...,0.0,26.1,-0.1,0.0,-0.1,-0.610,-19.3,-11.3,-30.6,0.0
16049,28940,2020,4804,Zylan Cheatham,NaN,PF,24,1,NBA,NOP,...,30.8,10.4,0.0,0.0,0.0,0.034,-6.6,-0.5,-7.2,-0.1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12844 entries, 0 to 12843
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   player_id          12844 non-null  int64
 1   season             12844 non-null  int64
 2   player             12844 non-null  object
 3   team_abbreviation  12844 non-null  object
 4   state              12844 non-null  object
 5   age                12844 non-null  int64
 6   player_height      12844 non-null  float64
 7   player_weight      12844 non-null  float64
 8   college            10990 non-null  object
 9   country            12844 non-null  object
 10  draft_year         12844 non-null  object
 11  draft_round        12844 non-null  object
 12  draft_number       12844 non-null  object
 13  gp                 12844 non-null  int64
 14  pts                12844 non-null  float64
 15  reb                12844 non-null  float64
 16  ast                12844 non-null  float64
 17  net_rating         12844 non-null  float64
 18  oreb_pct           12844 non-null  float64
 19  dreb_pct           12844 non-null  float64
 20  usg_pct            12844 non-null  float64
 21  ts_pct             12844 non-null  float64
 22  ast_pct            12844 non-null  float64
 23  mvp                12844 non-null  bool
 24  position           12844 non-null  object
 25  experience         12844 non-null  int64
 26  season_result      12844 non-null  object
dtypes: bool(1), float64(11), int64(5), object(10)
memory usage: 2.6+ MB

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16050 entries, 0 to 16049
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seas_id            16050 non-null  int64
 1   season             16050 non-null  int64
 2   player_id          16050 non-null  int64
 3   player             16050 non-null  object
 4   birth_year         196 non-null    float64
 5   pos                16050 non-null  object
 6   age                16050 non-null  int64
 7   experience         16050 non-null  int64
 8   lg                 16050 non-null  object
 9   team_abbreviation  16050 non-null  object
 10  gp                 16050 non-null  int64
 11  mp                 16050 non-null  int64
 12  per                16045 non-null  float64
 13  ts_pct             15961 non-null  float64
 14  x3p_ar             15955 non-null  float64
 15  f_tr               15955 non-null  float64
 16  orb_percent        16045 non-null  float64
 17  drb_percent        16045 non-null  float64
 18  trb_percent        16045 non-null  float64
 19  ast_percent        16045 non-null  float64
 20  stl_percent        16045 non-null  float64
 21  blk_percent        16045 non-null  float64
 22  tov_percent        15975 non-null  float64
 23  usg_pct            16045 non-null  float64
 24  ows                16050 non-null  float64
 25  dws                16050 non-null  float64
 26  ws                 16050 non-null  float64
 27  ws_48              16045 non-null  float64
 28  obpm               16050 non-null  float64
 29  dbpm               16050 non-null  float64
 30  bpm                16050 non-null  float64
 31  vorp               16050 non-null  float64
dtypes: float64(21), int64(7), object(4)
memory usage: 3.9+ MB

In [11]:
df2.shape

(16050, 32)

In [12]:
df.shape

(12844, 27)

In [13]:
import pandas as pd

# Merge based on exact match on 'age', 'experience', and 'gp'
merged_df = pd.merge(df, df2[['age', 'experience', 'gp', 'mp']],
                     on=['age', 'experience', 'gp'],
                     how='left',  # Left join to keep all rows from df
                     suffixes=('_df', '_df2'))  # Add suffixes to identify columns from each dataframe

# Now you have a merged DataFrame with 'mp' column from df2 merged into df based on exact matches for 'age', 'experience', and 'gp'

In [14]:
merged_df

,player_id,season,player,team_abbreviation,state,age,player_height,player_weight,college,country,...,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,mvp,position,experience,season_result,mp
0,419,1997,A.C. Green,DAL,Texas,33,205.74,102.05820,Oregon State,United States of America,...,0.100,0.207,0.119,0.523,0.045,False,PF,12,No postseason,2492.0
1,667,1998,A.C. Green,DAL,Texas,34,205.74,102.05820,Oregon State,United States of America,...,0.090,0.196,0.118,0.496,0.074,False,PF,13,No postseason,2649.0
2,667,1998,A.C. Green,DAL,Texas,34,205.74,102.05820,Oregon State,United States of America,...,0.090,0.196,0.118,0.496,0.074,False,PF,13,No postseason,2177.0
3,667,1998,A.C. Green,DAL,Texas,34,205.74,102.05820,Oregon State,United States of America,...,0.090,0.196,0.118,0.496,0.074,False,PF,13,No postseason,1305.0
4,667,1998,A.C. Green,DAL,Texas,34,205.74,102.05820,Oregon State,United States of America,...,0.090,0.196,0.118,0.496,0.074,False,PF,13,No postseason,2441.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53882,11030,2020,Zylan Cheatham,NOP,Louisiana,24,195.58,99.79024,Arizona State,United States of America,...,0.062,0.128,0.103,0.667,0.094,False,PF,1,No postseason,174.0
53883,11030,2020,Zylan Cheatham,NOP,Louisiana,24,195.58,99.79024,Arizona State,United States of America,...,0.062,0.128,0.103,0.667,0.094,False,PF,1,No postseason,51.0
53884,11720,2022,Zylan Cheatham,UTA,Utah,26,195.58,99.79024,Arizona St.,United States of America,...,0.000,0.000,0.250,0.000,0.000,False,SF,2,Playoffs,4.0
53885,11720,2022,Zylan Cheatham,UTA,Utah,26,195.58,99.79024,Arizona St.,United States of America,...,0.000,0.000,0.250,0.000,0.000,False,SF,2,Playoffs,13.0
53886,11720,2022,Zylan Cheatham,UTA,Utah,26,195.58,99.79024,Arizona St.,United States of America,...,0.000,0.000,0.250,0.000,0.000,False,SF,2,Playoffs,5.0

In [15]:
import pandas as pd

# Drop duplicates from df2 based on 'age', 'experience', 'gp'
df2_no_duplicates = df2.drop_duplicates(subset=['age', 'experience', 'gp'])

# Merge based on exact match on 'age', 'experience', and 'gp'
merged_df = pd.merge(df, df2_no_duplicates[['age', 'experience', 'gp', 'mp']],
                     on=['age', 'experience', 'gp'],
                     how='left')  # Left join to keep all rows from df

# Now you have a merged DataFrame with 'mp' column from df2 merged into df based on exact matches for 'age', 'experience', and 'gp'

In [16]:
merged_df

,player_id,season,player,team_abbreviation,state,age,player_height,player_weight,college,country,...,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,mvp,position,experience,season_result,mp
0,419,1997,A.C. Green,DAL,Texas,33,205.74,102.05820,Oregon State,United States of America,...,0.100,0.207,0.119,0.523,0.045,False,PF,12,No postseason,2492.0
1,667,1998,A.C. Green,DAL,Texas,34,205.74,102.05820,Oregon State,United States of America,...,0.090,0.196,0.118,0.496,0.074,False,PF,13,No postseason,2649.0
2,1006,1999,A.C. Green,DAL,Texas,35,205.74,102.05820,Oregon State,United States of America,...,0.097,0.179,0.148,0.441,0.043,False,PF,14,No postseason,924.0
3,9331,2000,A.C. Green,LAL,California,36,205.74,102.05820,Oregon State,United States of America,...,0.089,0.179,0.111,0.482,0.058,False,PF,15,Champion,1929.0
4,11196,2001,A.C. Green,MIA,Florida,37,205.74,102.05820,Oregon State,United States of America,...,0.089,0.171,0.141,0.492,0.050,False,PF,16,Playoffs,1411.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,2821,2003,Zydrunas Ilgauskas,CLE,Ohio,28,220.98,117.93392,NaN,Lithuania,...,0.108,0.172,0.279,0.516,0.101,False,C,5,No postseason,1750.0
12840,3068,2004,Zydrunas Ilgauskas,CLE,Ohio,29,220.98,117.93392,NaN,Lithuania,...,0.122,0.163,0.229,0.541,0.074,False,C,6,No postseason,2499.0
12841,3667,2005,Zydrunas Ilgauskas,CLE,Ohio,30,220.98,117.93392,NaN,Lithuania,...,0.136,0.170,0.243,0.550,0.065,False,C,7,No postseason,2137.0
12842,11030,2020,Zylan Cheatham,NOP,Louisiana,24,195.58,99.79024,Arizona State,United States of America,...,0.062,0.128,0.103,0.667,0.094,False,PF,1,No postseason,25.0
12843,11720,2022,Zylan Cheatham,UTA,Utah,26,195.58,99.79024,Arizona St.,United States of America,...,0.000,0.000,0.250,0.000,0.000,False,SF,2,Playoffs,4.0

In [17]:
# Find the number of null values in each column of merged_df
null_values = merged_df.isnull().sum()

# Print the number of null values for each column
print(null_values)

player_id               0
season                  0
player                  0
team_abbreviation       0
state                   0
age                     0
player_height           0
player_weight           0
college              1854
country                 0
draft_year              0
draft_round             0
draft_number            0
gp                      0
pts                     0
reb                     0
ast                     0
net_rating              0
oreb_pct                0
dreb_pct                0
usg_pct                 0
ts_pct                  0
ast_pct                 0
mvp                     0
position                0
experience              0
season_result           0
mp                   1105
dtype: int64

In [18]:
# Filter rows where 'mp' is null
mp_null_rows = merged_df[merged_df['mp'].isnull()]

# Print the rows where 'mp' is null
print(mp_null_rows)

       player_id  season              player team_abbreviation         state  \
45          9923    2018       Aaron Jackson               HOU         Texas
80           422    1997           Acie Earl               MIL     Wisconsin
98         11962    2022   Admiral Schofield               ORL       Florida
99         12595    2023   Admiral Schofield               ORL       Florida
100          640    1998        Adonal Foyle               GSW    California
...          ...     ...                 ...               ...           ...
12811       2298    2002     Zendon Hamilton               DEN      Colorado
12815       4083    2006     Zendon Hamilton               PHI  Pennsylvania
12831       6050    2007  Zydrunas Ilgauskas               CLE          Ohio
12834       9406    2010  Zydrunas Ilgauskas               CLE          Ohio
12835       3573    2011  Zydrunas Ilgauskas               MIA       Florida

       age  player_height  player_weight          college  \
45      32         190.50      83.007336              NaN
80      27         210.82     108.862080             Iowa
98      25         195.58     109.315672        Tennessee
99      26         195.58     109.315672        Tennessee
100     23         208.28     113.398000          Colgate
...    ...            ...            ...              ...
12811   27         210.82     115.212368  St. John's (NY)
12815   31         210.82     115.212368  St. John's (NY)
12831   32         220.98     117.933920              NaN
12834   35         220.98     117.933920              NaN
12835   36         220.98     117.933920              NaN

                        country  ... oreb_pct dreb_pct usg_pct  ts_pct  \
45     United States of America  ...    0.056    0.031   0.149   0.405
80     United States of America  ...    0.079    0.140   0.224   0.435
98               United Kingdom  ...    0.033    0.146   0.143   0.538
99               United Kingdom  ...    0.047    0.092   0.139   0.587
100              United Kingdom  ...    0.112    0.182   0.162   0.418
...                         ...  ...      ...      ...     ...     ...
12811  United States of America  ...    0.141    0.213   0.199   0.499
12815  United States of America  ...    0.075    0.267   0.283   0.593
12831                 Lithuania  ...    0.128    0.204   0.218   0.527
12834                 Lithuania  ...    0.107    0.197   0.189   0.491
12835                 Lithuania  ...    0.119    0.178   0.159   0.531

       ast_pct    mvp  position  experience  season_result  mp
45       0.053  False        PG           1       Playoffs NaN
80       0.077  False         C           4  No postseason NaN
98       0.084  False        SF           2  No postseason NaN
99       0.103  False        PF           3  No postseason NaN
100      0.037  False         C           1  No postseason NaN
...        ...    ...       ...         ...            ...  ..
12811    0.029  False        PF           2  No postseason NaN
12815    0.000  False         C           6  No postseason NaN
12831    0.099  False         C           9       Playoffs NaN
12834    0.058  False         C          12       Playoffs NaN
12835    0.033  False         C          13       Playoffs NaN

[1105 rows x 28 columns]

In [20]:
merged_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'merge questions.csv'))